* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  font-family: sans-serif;
  color: #5a5a58;
  background-color: whitesmoke;
  height: 100vh;
}
img {
  width: 100px;
  border-radius: 10px;
}

.h1 {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  font-style: italic;
}

h2 {
  font-size: 28px;
  color: #5a5a58;
}

h3 {
  font-size: 28px;
  color: #5a5a58;
}

p {
  font-size: 16px;
  color: #5a5a58;
}

.navbar {
  background-color: #5a5a58;
  padding: 20px;
  margin: 50px;
  height: 5rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.navbar ul li a {
  text-decoration: none;
  color: #e3dbb3;
  font-size: 1.1rem;
  cursor: pointer;
}

nav ul li a:hover {
  color: #4362f0;
  background-color: whitesmoke;
  border-radius: 10px;
}

.logo {
  font-size: 3rem;
  font-weight: bold;
  font-family: sans-serif;
  color: #5a5a58;
}

.nav-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.nav-header img {
  width: 100px;
  /* height: 100px; */
}

.nav-header button {
  background: #5a5a58;
  color: #e3dbb3;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 20px 20px;
  width: 10%;
  height: 10%;
}

.textinfooter {
  font-family: sans-serif;
  color: whitesmoke;
  margin-top: 100%;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 5rem;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #5a5a58;
  text-align: center;
}
